**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReservationSystem/.vs
/ReservationSystem.Transversal.Logging/bin/Debug
/ReservationSystem.Transversal.Logging/obj
/ReservationSystem.Transversal.Logging/obj/Debug/netstandard2.1
/ReservationSystem.Application.DTO/bin/Debug
/ReservationSystem.Application.DTO/obj
/ReservationSystem.Application.DTO/obj/Debug/netstandard2.1
/ReservationSystem.Application.Interface/bin/Debug
/ReservationSystem.Application.Interface/obj
/ReservationSystem.Application.Interface/obj/Debug/netstandard2.1
/ReservationSystem.Application.DTO/obj/Debug/netstandard2.1
/ReservationSystem.Application.Main/bin/Debug
/ReservationSystem.Application.Main/obj
/ReservationSystem.Application.Main/obj/Debug/netstandard2.1
/ReservationSystem.Domain.Core/bin/Debug
/ReservationSystem.Domain.Core/obj
/ReservationSystem.Domain.Core/obj/Debug/netstandard2.1
/ReservationSystem.Domain.Entity/bin/Debug
/ReservationSystem.Domain.Entity/obj
/ReservationSystem.Domain.Entity/obj/Debug/netstandard2.1
/ReservationSystem.Domain.Interface/bin/Debug
/ReservationSystem.Domain.Interface/obj
/ReservationSystem.Domain.Interface/obj/Debug/netstandard2.1
/ReservationSystem.Infrastructure.Data/bin/Debug
/ReservationSystem.Infrastructure.Data/obj
/ReservationSystem.Infrastructure.Data/obj/Debug/netstandard2.1
/ReservationSystem.Infrastructure.Interface/bin/Debug
/ReservationSystem.Infrastructure.Interface/obj
/ReservationSystem.Infrastructure.Interface/obj/Debug/netstandard2.1
/ReservationSystem.Infrastructure.Repository/bin/Debug
/ReservationSystem.Infrastructure.Repository/obj
/ReservationSystem.Infrastructure.Repository/obj/Debug/netstandard2.1
/ReservationSystem.Transversal.Common/bin/Debug
/ReservationSystem.Transversal.Common/obj
/ReservationSystem.Transversal.Common/obj/Debug/netstandard2.1
/ReservationSystem.Transversal.Logging/bin/Debug
/ReservationSystem.Transversal.Logging/obj
/ReservationSystem.Transversal.Logging/obj/Debug/netstandard2.1
/ReservationSystem.Transversal.Mapper/bin/Debug
/ReservationSystem.Transversal.Mapper/obj
/ReservationSystem.Transversal.Mapper/obj/Debug/netstandard2.1
/ReservationSystem.Services.WebApi/bin/Debug
/ReservationSystem.Services.WebApi/obj
/ReservationSystem.Services.WebApi/bin/Debug/netcoreapp3.1
/ReservationSystem/ReservationSystem/Properties/PublishProfiles
/.vs/ReservationSystem
/ReservationSystem.PreCompiled
/ReservationSystem.PreCompiledWeb.zip
/ReservationSystem/ReservationSystem.UnitTest/bin/Debug/netcoreapp2.2
/ReservationSystem/ReservationSystem.UnitTest/obj
/vs/config/applicationhost.config
/ReservationSystemAPI.PreCompiled
/ReservationSystemAPI.PreCompiled.zip
/ReservationSystem/bin/Release/netcoreapp2.2
/ReservationSystem/Properties/PublishProfiles/FolderProfile.pubxml
/ReservationSystem/Properties/PublishProfiles/FolderProfile.pubxml.user
/ReservationSystem/bin/Debug/netcoreapp3.1
/ReservationSystem